@media (min-width:766px){


.compose {
    position: absolute;
    top: 121px;
    left: 330px;
    width: 40%;
    box-shadow: 2px 2px 5px 6px rgba(4, 26, 55, 0.16);
    border: none;
    margin-bottom: 30px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.compose:hover {
    box-shadow: 3px 3px 6px 7px rgba(1, 13, 28, 0.16);
}

.box {
    position: absolute;
    left: 1000px;
}

.receive {
    position: absolute;
    top: 123px;
    left: -124px;
}

.buton {
    position: absolute;
    left: 334px;
}
.recieved{
    position: absolute;
    top: -10px
}
}


@media(max-width:415px) {
    .compose {
        position: absolute;
        top: 6pc;
        width: 21pc;
        left: 34px;
        border: 1px solid black;
    }

    .box {
        position: absolute;
        top: 35pc;
        left: 1pc;  
    }

    .buton {
        position: absolute;
        top: 27pc;
        left: -3pc;
    }

    .to {
        position: absolute;
        left: 12pc;
    }
}




@media(min-width: 765px) {
    .box {
        position: fixed;
    }

    .buton {
        position: fixed;
    }

    .compose {
        position: fixed;
    }
}